*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    word-spacing: 9px;

}
.wrapper{
    max-width: 100vw;
    min-height: 100vh;
    padding: 10vh;
    align-content: center;
    justify-content: center;
    background-image: url('../img/emptyStadium.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

}
form{
    display: grid;
    width: 100%;
    height: 100vh;
    align-content: center;
    justify-content: center;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 1fr 5fr ;
    grid-template-areas: 'title description'
                        'img    description'
                        'other other';
                        gap: 20px;
    opacity: 100%;
    background-color: rgba(0, 0, 0, 0.726);
    padding: 1vw;
}
figure{
    height: 70vh;
    border-radius: 1.1rem;
    font-size: 1.1rem;
    grid-area: img;
    background-image: url('../img/fight.jpg');
    align-items: center;
    justify-content: center;
    display: flex;
    color: blue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
figure input{
    background-color: white;
}
input{
    font-size: 1.5rem;
    border-radius: 1.1rem;
    padding: 1rem;
    grid-area: title;
}
textarea{
    font-size: 1.1rem;
    padding: 1rem;
    height: 80vh;
    border-radius: 1.1rem;
    grid-area: description;
}
div.other{
    display: flex;
    grid-area: other;
    width: 100%;
    justify-content: space-between;
}
div.other input{
    background-image: linear-gradient(180deg,green,yellow);
}
@media (max-width:768px) {
    form{
        padding: 1vh 1vh;
        width: 100%;
        grid-template-rows: .2fr 6fr 10fr;
        grid-template-columns: 100% ;
        grid-template-areas: 'title'
                            'img'
                            ' description'
                            'other';
    }
    figure{
        height: 50vh;   
    }
}

